<div class="portada">
    <div>
        <h1>PABLO</h1>
        <h1>CONEJOS</h1>
    </div>

    <!-- <canvas id="hero"></canvas> -->
    <img src="fotos/portada/Chromatic Orb.gif" alt="" />
</div>

<style>
    .portada {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        margin: 20px;
        overflow: hidden;
        align-items: stretch;
        gap: 20px;
    }

    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 10rem;
        letter-spacing: -15px;
        line-height: 1;
    }

    img {
        width: 50%;
    }

    /* 👇 mínimo para que el canvas NO se deforme por el flex */
    #hero {
        align-self: flex-start;
        flex: 0 0 auto;
        display: block;
        width: 50%;
    }
</style>

<!-- <script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const canvas = document.getElementById("hero") as HTMLCanvasElement;
    const ctx = canvas.getContext("2d")!;

    const TOTAL_FRAMES = 30;

    const createURL = (frame: number) => {
        const id = frame.toString().padStart(2, "1");
        return `fotos/portada/chromatics-frames/frame-${id}.gif`;
    };

    const images = Array.from({ length: TOTAL_FRAMES }, (_, index: number) => {
        const img = new Image();
        img.src = createURL(index);
        return img;
    });

    const airpods = { frame: 0 };

    gsap.to(airpods, {
        frame: TOTAL_FRAMES - 1,
        snap: "frame",
        ease: "none",
        scrollTrigger: {
            scrub: 0.5,
        },
        onUpdate: render,
    });

    // ✅ al cargar el primer frame, ajusta el canvas al tamaño real de la imagen
    images[0].onload = () => {
        canvas.width = images[0].naturalWidth;
        canvas.height = images[0].naturalHeight;
        render();
    };

    function render() {
        if (!images[airpods.frame]?.complete) return;

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(images[airpods.frame], 0, 0);
    }
</script> -->
