---
import Experience from "../../public/experience/experience.astro";
import AboutMe from "../components/about-me/about-me.astro";
import Portada from "../components/portada/portada.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/contact/contact.astro";
import Footer from "../components/footer.astro";
---

<Layout>
	<Portada />

	<!-- <div class="about-me-container">
		<AboutMe />
	</div>

	<Experience />
	<Contact />
	<Footer /> -->
</Layout>

<style>
	@media (max-width: 767px) {
		.about-me-container {
			display: none;
		}
	}
</style>
