---
import AboutMe from "../components/aboutMe.astro";
import Memoji from "../components/memoji.astro";
import Scene from "../components/portada/Scene.jsx";
import Layout from "../layouts/Layout.astro";
import Sticker_angular from "../components/stickers/Sticker-angular.astro";
---

<Layout>
	<div class="relative h-screen">
		<header>
			<span>SERIOUSLY</span>
			<span>GOOD</span>
			<span>DEVELOPER</span>
		</header>
		<Scene client:only="react" />
	</div>
	<AboutMe />
	<Memoji />

	<!-- <Sticker_angular /> -->
</Layout>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		color: white;
		font-family: Helvetica, sans-serif;
		font-weight: bold;
		padding: 1rem;
		position: absolute;
		top: 0;
	}
</style>
