---
import Layout from "../layouts/Layout.astro";
import PortadaName from "../components/portada/portada-name.jsx";
import SideWorksPage from "../components/side-works/side-works-page.astro";
import AboutMe from "../components/about-me/about-me.astro";
import HorizontalSection from "../components/about-me/horizontal-section.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="portada">
		<PortadaName client:only="react" />
	</div>
	<AboutMe />
	<!--  -->
	<HorizontalSection client:load />
	<!-- <SideWorksPage /> -->
</Layout>

<style>
	.portada {
		min-height: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
