<div>
    <video autoplay muted loop src="/emojiMovie.MOV"></video>
</div>

<style>
    div {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1rem;
        width: 70px;
        height: 70px;

        background-color: #464646;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    video {
        margin-top: 10px;
    }
</style>
